*{
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header-img{
    width: 100%;
    height: 680px;
    opacity: 0.3;
    position: relative;
}
.navbar{
    position: absolute;
    background: none;
    width: 100%;
    height: 50px;
    top: 0;
}
.logo{
    position: absolute;
    display: inline;
    background: none;
    left: 70px;
    top: 9px;
}
.nav-right-elements{
    display: inline;
    background: none;
    /* background-color: aqua; */
    width: 150px;
    height: 30px;
    position: absolute;
    right: 60px;
    top: 12px;
}
.lang-select{
    position: absolute;
    width: 70px;
    height: 25px;
    background: none;
    color: white;
    font-size: 12px;
    padding: 3px 3px;
    top: 5px;
}
.lang-select option{
    background-color: white;
    color: #000000;
}
.button-signin{
    background-color: #E50914;
    position: absolute;
    width: 50px;
    left: 85px;
    top: 5px;
    height: 25px;
    border: none;
    font-size: 12px;
    color: white;
    border-radius: 2px;
}
.button-signin:hover{
    background-color: #e10b16cd;
    transition: 0.5s;
}
.title{
    background: none;
    position: absolute;
    top: 50%;
    left: 38%;
    height: 350px;
    width: 360px;
}
.header1 h1{
    background: none;
    /* position: absolute; */
}
.header1{
    background: none;
    font-size: 20px;

}
.head-title p{
    text-align: center;
    background: none;
    font-size: 14px;
    font-weight: bolder;
}
.head-title{
    margin-top: 15px;
    background: none;
    width: 360px;
    position: relative;
    right: 10px;
}
.head-title-2 p{
    margin-top: 30px;
    background: none;
    width: 381px;
}
.head-title-2{
    position: relative;
    right: 15px;
    background: none;
}
.email-div{
    margin-top: 20px;
    background: none;
    width: 372px;
}
.email-input{
    border: 1px solid #2a2826;
    border-radius: 3px;
    width: 230px;
    height: 30px;
    font-size: 13px;
    background-color: rgba(12, 11, 11, 0.6);

}
.email-input::placeholder{
    color: white
}
.get-started-button{
    margin-left: 2px;
    height: 33px;
    width: 130px;
    background-color: #E50914;
    border-style: none;
    border-radius: 3px;
    position: relative;
    bottom:0px;
    font-size: 15px;
    text-align: left;
}
.arraow-icon{
    background: none;
    position: relative;
    left: 338px;
    bottom: 30px;
}
.get-started-button:hover{
    background-color: #e10b16cd;
    transition: 0.5s;
}
.line{
    margin-top: 10px;
    position: relative;
    left: 110px;
    height: 2px;
    width: 80%;
    background-color: #E50914;
    margin-bottom: 50px;
}
.movie-rows h2{
    position: absolute;
    background: none;
}

.movie-rows{
    position: absolute;
    height: 200px;
    left: 80px;
    display: flex;
    padding: 10px 10px;
    row-gap: 10px;
    padding-bottom: 60px;
    
}
.movie-rows div{
    margin: 30px;

}
.movie-rows div{
    width: 150px;
    height: 50px;
    background-color: aqua;
}
.movie-rows div:hover{
    transform: scale(1.02, 1.02);
    transition: 0.5s ease-in ;
}
.movie-rows div h1{
    font-size: 60px;
    position: relative;
    bottom: 80px;
    right: 10px;
    background: none;
    
}
.title-2{
    position: absolute;
    width: 80%;
    height: 50px;
    display: flex;
    top: 1100px;
    left: 50px;
    row-gap: 20px;
    padding: 10px 10px;
    background: none;
}
.title-2 h2{
    position: absolute;
    background: none;
    bottom: 60px;
    left: 20px;

}
.title-2 div{
    background: none;
    padding: 10px 10px;
    
}
.title-2 div img{
    border-radius: 10px;
}
.title-3{
    position: relative;
    width: 1100px;
    height: 500px;
    left: 80px;
    top: 700px;
}
.title-3 div{
    width: 1100px;
    height: 60px;
    margin-top: 5px;
    background-color: #2D2D2D;
}
.title-3 div:hover{
    background-color: #464545;
    transition: 0.5s;
    cursor: pointer;
}
.title-3 div p{
    position: absolute;
    background: none;
    padding-top: 23px;
    left: 20px;
    font-size: 16px;
    font-weight: bolder;
}
.title-3 div img{
    background: none;
    position: absolute;
    right: 20px;
    padding-top: 15px;
}
.title-4{
    position: absolute;
    background: none;
    top: 1950px;
    width: 100%;
    height: 100px;
    
}
.title-4 p{
    background: none;
    position: absolute;
    width: 388px;
    left: 450px;
}
.title-4 input{
    position: absolute;
    margin-top: 30px;
    left: 450px;
    border: 1px solid #2a2826;
    border-radius: 3px;
    width: 230px;
    height: 30px;
    font-size: 13px;
    background-color: rgba(12, 11, 11, 0.6);
}
.get-started-button-below{

    height: 33px;
    width: 130px;
    background-color: #E50914;
    border-style: none;
    border-radius: 3px;
    position: absolute;
    left: 700px;
    top: 30px;
    font-size: 15px;
    text-align: left;
}
.title-4 img{
    background: none;
    position: absolute;
    left: 795px;
    top: 35px;
}
.footer-1{
    position: absolute;
    bottom: -1700px;
    left: 80px;
    
    
}
.footer-menu{
    display: flex;
}
.footer-menu div{
    margin-right: 100px;
    margin-top: 20px;
}
.footer-menu div p{
    margin-bottom: 20px;
    text-decoration: underline;
}
.footer-lang{
    position: relative;
    top: 30px;
}
.netflix-india{
    position: relative;
    top: 100px;
    font-size: 10px;
}
.para-1{
    font-size: 10px;
    position: relative;
    top: 150px;
    padding-bottom: 50px;
}